@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --GREEN-COLOR : #1ff9a9;
    --BG-COLOR : linear-gradient(0deg, rgb(0, 0, 0) 8%, rgb(69, 69, 69) 100%);
    --DARK-COLOR : #0A0A0A;
}   
body{
    height: 100vh;
    width: 100vw;
    background: var(--BG-COLOR);
    position: relative;
    overflow: hidden;
}
main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}
nav{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    display: flex;
    justify-content:space-between;
    padding: 0.5rem 1rem;
    transition: 0.5s;
}
.nav-items{
    place-self: center;
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    gap: 5px;
    color: white;
    border-radius: 20px;
    max-width: 135px;
}
.nav-items.active{
    background-color: rgba(0, 255, 149, 0.085);
    color: var(--GREEN-COLOR);
    animation: widthIncrease 0.5s forwards;
    
}
@keyframes widthIncrease{
    0%{
        width: 20%;
    }
    100%{
        width: 100%;
    }
}

.nav-item-name{
    display: none;
    white-space: nowrap;
    overflow: hidden;
}
.nav-items.active .nav-item-name{
    display: block;
    animation: widthIncrease 0.5s forwards;
}

i.menu-btn{
    margin: .5rem;
    z-index: 99;
    color: white;
    font-size: 34px;
    font-weight: bold;
    position: fixed;
    top: 1rem;
}
.menu-backdrop{
    width: 100%;
    height: 100%;
    z-index: 98;
    position: absolute;
    backdrop-filter: blur(0px);
    filter: brightness(100%);
    transition: 0.5s;
    display: none;
}
.menu-main{
    z-index: 100;
    height: 100vh;
    width: 70vw;
    position: absolute;
    background-color:var(--DARK-COLOR);
    transform: translateX(-100%);
    transition: 0.5s;
}
.menu.active .menu-backdrop{
    backdrop-filter: blur(1px);
    filter: brightness(70%);
    display: block;
}
.menu.active .menu-main{
    transform: translateX(0%);
}

.blackhole-logo{
    color: white;
    font-weight: 900;
    font-size: 3rem;
    width: 100%;
    height: 20%;
    display: grid;
    place-content: center;
    background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(10,10,10,1) 75%);

}
.menu .options{
    margin-top: 2rem;
    display: grid;
    grid-template-rows: repeat(6,50px);
}
.options .option{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: white;
    gap: 1.5rem;
}
.option.active{
    color: var(--GREEN-COLOR);
}
.creator-name{
    position: absolute;
    color: white;
    font-size: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    text-wrap: nowrap;
}
.welcome-tag{
    margin: 4rem 0 0 .8rem;
    color: white;
    font-size: 1.5rem;
}
.welcome-tag .hi{
    color: var(--GREEN-COLOR);
    font-weight: 800;
}
.search-bar-container{
    width: 100%;
    height:65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: sticky;
    top: .5rem;
    transition: 0.2s;
}
.search-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(31, 31, 31);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 5px 5px 10px black;
    transition: 0.2s;
}
.search-bar .input{
    flex: 1;
    color: white;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.input:focus{
    outline: none;
}

.search-icon{
    color: var(--GREEN-COLOR);
}
.main-content{
    margin: 1rem 0 6rem 0;
}
.group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: .5rem;
}
.group-heading{
    font-weight: 900;
    color: var(--GREEN-COLOR);
    font-size: 1.2rem;
}
.musics{
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    gap: .5rem;
    border-radius: 20px;
}
.musics::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}
.card{
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-image img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
.card-title{
    color: white;
    font-size: 1.1rem;
}
